.feapi-form {
    padding: 30px 0 30px 0;
}
.feapi-form__add, .feapi-form__group{
    width: 100%;
    margin: 10px;
}
.feapi-form label{
    margin-right: 20px;
}
.feapi-form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    margin-top: 15px;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
.feapi-form input, select {
    width: 80px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px;
}

.feapi-form button:hover,
.feapi-form button:active {
    background-color: #641e03;
    border-color: #641e03;
}

@media (max-width: 576px) {
    .feapi-form {
        display: flex;
        flex-direction: column;
    }
}