.feapi-form {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.feapi-form__group{
    margin: 40px 0 0 0 ;
}
.feapi-form__group label, input{
    margin-right: 20px;
}

.feapi-form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    margin-top: 15px;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
.feapi-form input, select{
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    width: 80px;
}
.feapi-form select{
 margin-right: 20px;
}

.feapi-form button:hover,
.feapi-form button:active {
    background-color: #641e03;
    border-color: #641e03;
}