.feapi-detail__img img {
    width: 50%;
    padding-bottom: 0;
}

.feapi-detail__img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feapi-detail__info ul {
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    .feapi-detail__img img {
        padding-bottom: 50px;
    }
}